html{/*фон*/
  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(11,11,56,1) 25%, rgba(34,124,148,1) 100%);
  position: relative;
}
@media screen and (max-width: 1920px) and (min-width: 500px) {/* для full-hd мониторов*/
  #buttons{
    position: absolute;
    left: 1dvw;
    top: 2dvh;
    width: 96dvw;
    height: 8dvh;
  }
  .ui{
 
  background: linear-gradient(90deg, rgba(175,58,180,1) 0%, rgba(253,29,29,1) 21%, rgba(253,76,42,1) 57%, rgba(252,176,69,1) 92%);
  border: 4px solid black;
  width: 96dvw;
  height: 80dvh;
  position: absolute;
  left: 1dvw;
  top: 12dvh;
  font-size: 3em;
}
#ceasar, #atbash, #ceasarBtn, #atbashBtn{
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2.5dvw; 
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue; /* скопировал у w3schools*/
}
#ceasar{
  left: 10%;
}
#atbash{
  right: 10%;
}
#ceasarBtn, #atbashBtn{
  right: 10%;

}
.text{
  font-size: 0.45em;
}
}
@media screen and (max-width: 500px) {/* для смартфонов*/
  #buttons{
    position: absolute;
    left: 1dvw;
    top: 2dvh;
    width: 96dvw;
    height: 6dvh;
  }
  .ui{
  background: linear-gradient(90deg, rgba(175,58,180,1) 0%, rgba(253,29,29,1) 21%, rgba(253,76,42,1) 57%, rgba(252,176,69,1) 92%);
  border: 4px solid black;
  width: 96dvw;
  height: 80dvh;
  position: absolute;
  left: 1dvw;
  top: 9dvh;
  font-size: 3em;
}
#ceasar, #atbash, #ceasarBtn, #atbashBtn{
  position: absolute;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 7.5dvw; 
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue; /* скопировал у w3schools*/
}
#ceasar{
  left: 10%;
}
#atbash{
  right: 10%;
}
.text{
  font-size: 0.45em;
}
}


#atbashUI{
  visibility: hidden;
}


